<h1>Welcome to Groupe en Train ! </h1>

<p>Hi <%= @user.first_name %>,</p>
<p>We are happy to have you onboard.</p>
<p>Don't waiste any time, your ticket is right around the corner !</p>


<%= link_to "Send me back home", home_url %>
<br>
<br>
<br>
<p>Don't have second thoughts on sending us feedback once</p>
<p>you arrive to destination ! </p>
