.fas.fa-times-circle {
  color: red;
  font-size: 24px;
}

.fas.fa-chevron-circle-down {
  color: #278F75;
  font-size: 24px;
}

.fas.fa-shopping-cart {
  color: #278F75;
  font-size: 24px;
}

.fas.fa-undo {
  color: red;
  font-size: 16px;
}

