.your-trip {
  margin-top: 12.5px;
  font-size: 20px;
}

.trip-card {
  font-size: 14px;
  background-color: white;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  &:hover {
    transform: translateX(25px);
  }

}

.trip-card-fix {
  background-color: #00be9a;
  color: white;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}


.flex-arrow-duration {
  display:flex;
  flex-direction: column;
  span {
    font-size: 11px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 800px 1fr;
  grid-template-rows: 50% ;
}

.show-trip {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}

.show-trip-content {
  background-color: white;
  grid-row: 2 /span 1;
  grid-column: 3/span 1;

}

.flex-card {
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  &:hover {
    transform: translateX(25px);

  }
}

.tarif-or {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  p {
    margin: 0px;
  }

}

.info-trip {
  display:flex;
  justify-content: space-around;
  background-color: white;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.flex-station-start-end {
  h3 {
  font-size: 18px;
  }
}

.flex-heure-start-end {
  display:flex;
  justify-content: center;
  p {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
    padding:5px;
  }
}
.flex-heure-start-end-xs {
  display:flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
    padding:5px;
  }
}


.duration-xs {
  color: lightgrey;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
  padding: 5px;
}
.flex-tarifs {
  display:flex;
  p {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
}

.click_tarif {
  display:flex;
  background-color: #00CED1;
  color: white;
  p {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
}

// .card-reservation-header {
//   width:100%;
// }
