<div class="container">
   <div class="row">
    <div class="col-xs-12 col-md-10-offset-2 col-lg-8-offset-4">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending Tickets</a></li>
        <li role="presentation"><a href="#paid" aria-controls="paid" role="tab" data-toggle="tab">Paid Tickets</a></li>
        <li role="presentation"><a href="#refused" aria-controls="refused" role="tab" data-toggle="tab">Refused Tickets</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pending">

        </div>
        <div role="tabpanel" class="tab-pane" id="paid">

        </div>
        <div role="tabpanel" class="tab-pane" id="refused">

        </div>
      </div>
    </div>
  </div>
</div>


<!--   <div id="reviews">
    <% if @reviews.blank? %>
      Leave a review
      <%= render 'reviews/review_form', review: @review %>
    <% else %>
      <% @reviews.each do |review| %>
        <%= render 'reviews/review_style', review: @review %>
      <% end %>
    <% end %>
  </div>
</div> -->
