<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Amrian64/Groupe_en_train" target="_blank"><i class="fab fa-github-square"></i></a>
    <a href="">&#8226;</a>
    <a href="/pages/about">About us</a>
<!--     <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    <i class="fa fa-heart"></i> @GroupeEnTrain's Team
  </div>
</div>
