<h2>Your ticket has been registered</h2>

<p>Hi <%= @user.first_name %>,</p>
<p>You have selected a ticket, </p>
<p>the first step is now complete.</p>
<p>This trip proposal has been registered on our page</p>
<p>and will now be displayed to all other users.</p>
<p>In order to ensure your place on this train,</p>
<p>your proposal will have to gather 9 other travelers</p>
<p>on this precise ticket.</p>
<br>
<br>
<br>
<p>Please note that we will not debit your card until your trip proposal</p>
<p>has reached 10 travelers</p>
