<h2>Sadly, your proposal didn't make it :(</h2>

<p>Hi <%= @user.first_name %>, </p>
<p>We are sorry to announce you that your proposal</p>
<p>didn't gather enough travelers on time. For this reason,</p>
<p>we were not able to proceed to the transaction.</p>
<p>Obviously, your credit card was not debited at any time.</p>
<br>
<br>
<br>
<p>Don't lose hope just yet! You can still create a new proposal</p>
<p>or join one that has been created</p>

<%= link_to "Send me back home", home_url %>
