<h1>Trip confirmation</h1>

<p>Hi <%= @user.first_name %>, </p>
<p>We are happy to confirm you that </p>
<p>your trip proposal has reach the amount</p>
<p> of travelers needed in order to proceed to</p>
<p>the ticket sale.</p>

<p>Buckle up! Your train is leaving soon!</p>
<p>We hope you have a nice trip</p>
