.btn-confirm {
  display: inline-block;
  vertical-align: middle;
  background-color: #32746D;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background-color: #00be9a;
  transition: all 0.4s ease-in-out;

  .btn-confirm:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00be9a;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .btn-confirm:hover, .btn-confirm:focus, .btn-confirm:active {
    color: #00be9a;
  }

  .btn-confirm:hover:before, .btn-confirm:focus:before, .btn-confirm:active:before {
    transform: scaleX(1);
  }
}



