.wrapper {
  background-color: white;
}
.container {
  margin-bottom: 0px !important;
}
.slog {
  text-align: center;
  h2 {
    font-size: 25px;
  }
  p {
    margin-bottom: 50px;
  }
}

.steps {
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
    text-align: justify;
  }
}
.explains {
  text-align: center;

}
