.footer {
  background: white;
  position:relative;
  bottom:0;
  border-top: 2px solid rgb(0, 190, 154);
  font-size: 18px;
}

.flex-footer {
  display: flex;
  height:100px;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color:rgb(0, 190, 154);
  text-decoration: none;
  padding:0px 10px;
}

.footer-copyright {
padding-right:10px;
color: #00a896;
}

.footer-links a:hover {
  color: #00a896;
}
.footer .fa-heart {
  color: #D23333;
}

