.arrow {
  bottom:0;
  position:absolute;
  font-size:60px;
  color:#00BE9A;
  // text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
  text-align:center;
  margin-left:920.5px;
}

input .input-search {
  float:left;
}

.flex-home {
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.image-home {
   /* The image used */
 background-image: asset-data-url("image-home.jpg");

/* Set a specific height */
 height: 725px;

/* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
